{% extends 'base.html' %}
{% block body_block%}
    <h1>{{post.id}}</h1>
    <h1>{{post.title}}</h1>
    <h1>{{post.content}}</h1>
    <h1>{{post.created_at}}</h1>
    <a href="/posts/{{post.id}}/delete">삭제</a>  <!--특정 글만 삭제하기-->
    <a href="/posts/{{post.id}}/edit">수정</a>
    <form action="/posts/{{post.id}}/comments" method='post'>   <!--# post는 단독으로 혼자 존재할 수 있으나 comments는 몇 번 글인지에 대한 정보를 알아야 한다-->
        작성자 : <input type="text" name="creator"/>
        댓글 : <input type="text" name="content"/>
        <input type="submit"/>
    </form>
    {% for comment in post.comments %}
        <p>{{comment.creator}} : {{comment.content}}</p>
        <p>{{comment.created_at}}</p>
        <a href="/comment/{{comment.id}}/delete">댓글 삭제</a>   <!--comment별로 고유한 id를 가지므로 post_id를 넣으면 안 된다-->
    {% endfor %}  
{% endblock %}
